html {
    --blue-color: #00007f;
    --cyan-color: #007f7f;
    --green-color: #007f00;
    --grey-color: #7f7f7f;
    --magenta-color: #7f007f;
}

.highlight .ctc {
    color: var(--grey-color);
    font-style: normal;
}

.highlight .ctk {
    color: var(--blue-color);
    font-weight: normal;
}

.highlight .ctck {
    color: var(--magenta-color);
}

.highlight .ctn {
    color: var(--cyan-color);
}

.highlight .ctpb {
    font-style: italic;
}

.highlight .ctpck {
    color: var(--magenta-color);
    font-style: italic;
}

.highlight .ctpk {
    color: var(--blue-color);
    font-style: italic;
}

.highlight .ctpn {
    color: var(--cyan-color);
    font-style: italic;
}

.highlight .ctpsuk {
    color: var(--magenta-color);
    font-style: italic;
}

.highlight .cts {
    color: var(--green-color);
}

.highlight .ctsuk {
    color: var(--magenta-color);
}
