:root {
    --math-color: rgb(54, 96, 146);
}

a.icon,
a.inlineicon,
a.toolbar {
    pointer-events: none;
}

img.icon,
img.toolbar {
    padding: 3px 13px;
}

img.inlineicon {
    vertical-align: -2px;
}

span.math {
    color: var(--math-color);
}

span.subitalic {
    font-style: italic;
    font-size: 0.83em;
    vertical-align: sub;
}

table {
    margin: 1em 0em;
    border: 0px;
}

table > tbody > tr > td {
    vertical-align: baseline;
}

table.icons > colgroup > col,
table.mathematics > colgroup > col,
table.prefixes > colgroup > col,
table.units > colgroup > col {
    width: 0%;
}

table.icons > tbody > tr > td,
table.mathematics > tbody > tr > td,
table.prefixes > tbody > tr > td,
table.units > tbody > tr > td {
    border: 0px;
}

table.icons > tbody > tr > td {
    padding: 0px;
}

table.mathematics > tbody > tr > td,
table.prefixes > tbody > tr > td,
table.units > tbody > tr > td {
    padding: 0em 1em;
}

table.mathematics > tbody > tr > td:first-child {
    text-align: center;
}

table.mathematics > tbody > tr > td pre {
    margin: 0px;
    padding: 0px;
}

table.prefixes > tbody > tr > td,
table.units > tbody > tr > td {
    text-align: center;
}

table.prefixes > tbody > tr > td:nth-child(even) {
    text-align: justify;
}

table.prefixes > tbody > tr > td:nth-child(3) {
    padding-left: 3em;
}
